<h2>Methods</h2>
<ul class="de-content__class-items__index-list">
  {{#each model.methods as |method|}}
    <li>
      {{#link-to "projects.modules.classes.methods.anchor" method.name}}
        {{method.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>
      This class has no methods.
    </li>
  {{/each}}
</ul>

<h2>Properties</h2>
<ul class="de-content__class-items__index-list">
  {{#each model.properties as |property|}}
    <li>
      {{#link-to "projects.modules.classes.properties.anchor" property.name}}
        {{property.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>
      This class has no properties.
    </li>
  {{/each}}
</ul>

<h2>Events</h2>
<ul class="de-content__class-items__index-list">
  {{#each model.events as |event|}}
    <li>
      {{#link-to "projects.modules.classes.events.anchor" event.name}}
        {{event.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>
      This class has no events.
    </li>
  {{/each}}
</ul>
