{{#each model.properties as |property index|}}
  {{#if index}}
    <hr>
  {{/if}}

  <div class="de-content__class-items__property" data-anchor="{{property.name}}">
    <div class="de-content__class-items__property__signature">
      <h3>{{property.name}}</h3>
      <span class="de-content__class-items__type">
        {{property.type}}
      </span>
      <span class="de-content__class-items__property__access">
        {{property.access}}
      </span>
    </div>

    <div class="de-content__class-items__property__meta">
      {{#unless (eq property.class.content model)}}
        <div>
          Inherited from
          {{#link-to "projects.modules.classes" property.class.project.id property.class.module.name property.class.name}}
            {{property.class.name}}
          {{/link-to}}
          <a>{{property.file.name}}:{{property.line}}</a>
        </div>
      {{/unless}}

      {{#if property.since}}
        <div>Available since {{property.since}}.</div>
      {{/if}}
    </div>

    <div class="de-content__class-items__property__description">
      {{remarkable property.description}}
    </div>

    <div class="de-content__class-items__property__default">
      <span class="de-content__class-items__property__default__label">Default:</span>
      <span class="de-content__class-items__property__default__value">{{property.default}}</span>
    </div>
  </div>
{{/each}}
