<header>
  <h1>{{model.name}} class</h1>
</header>

<hr>

<section class="de-content__class__access">
  {{model.access}}
</section>

<section class="de-content__class__info">
  {{#if model.extends.id}}
    <div>
      <span class="de-content__class__info__label">EXTENDS:</span>
      {{#link-to "projects.modules.classes" model.extends.name}}
        {{model.extends.name}}
      {{/link-to}}
    </div>
  {{/if}}

  {{#each model.uses as |use|}}
    <div>
      <span class="de-content__class__info__label">USES:</span>
      {{#link-to "projects.modules.classes" use.name}}
        {{use.name}}
      {{/link-to}}
    </div>
  {{/each}}

  <div>
    <span class="de-content__class__info__label">DEFINED IN:</span>
    <a>{{model.file.name}}:{{model.line}}</a>
  </div>

  {{#if model.module.id}}
    <div>
      <span class="de-content__class__info__label">MODULE:</span>
      {{#link-to "projects.modules" model.module.name}}
        {{model.module.name}}
      {{/link-to}}
    </div>
  {{/if}}
</section>

<section class="de-content__class__description">
  {{remarkable model.description}}
</section>

<section class="de-content__class-items">
  <header class="de-content__class-items__tabs">
    <nav>
      <ul>
        <li>
          {{#link-to "projects.modules.classes.index" model.name}}
            Index
          {{/link-to}}
        </li>
        <li>
          {{#link-to "projects.modules.classes.methods" model.name}}
            Methods
          {{/link-to}}
        </li>
        <li>
          {{#link-to "projects.modules.classes.properties" model.name}}
            Properties
          {{/link-to}}
        </li>
        <li>
          {{#link-to "projects.modules.classes.events" model.name}}
            Events
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </header>
  <main class="de-content__class-items__content">
    Show:
    <label>
      <input type="checkbox"> Inherited
    </label>
    <label>
      <input type="checkbox"> Protected
    </label>
    <label>
      <input type="checkbox"> Deprecated
    </label>
    <hr>
    {{outlet}}
  </main>
</section>
