<header>
  <h1>{{model.name}} module</h1>
</header>

<hr>

<section class="de-content__module__parent">
  Parent:
  {{#link-to "projects.modules" model.supermodule.name}}
    {{model.supermodule.name}}
  {{/link-to}}
</section>

<section class="de-content__module__description">
  {{remarkable model.description}}
</section>

<section class="de-content__module__submodules">
  <h2>Submodules</h2>
  <ul>
    {{#each model.submodules as |module|}}
      <li>
        {{#link-to "projects.modules" module.name}}
          {{module.name}}
        {{/link-to}}
      </li>
    {{else}}
      <li>This module has no submodules.</li>
    {{/each}}
  </ul>
</section>

<section class="de-content__module__classes">
  <h2>Classes</h2>
  <ul>
    {{#each model.allClasses as |class|}}
      <li>
        {{#link-to "projects.modules.classes" class.name}}
          {{class.name}}
        {{/link-to}}
      </li>
    {{else}}
      <li>This module has no classes.</li>
    {{/each}}
  </ul>
</section>
