<div id="ember-doc-engine">
  <header>
    <nav class="de-toc">
      <ul>
        {{#if projects.length}}
          <li>
            <a class="de-toc-1">Projects</a>
            <ul>
              {{#each projects as |project|}}
                <li>
                  {{#link-to "projects" project.id class="de-toc-2"}}
                    {{project.id}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}

        {{#if modules.length}}
          <li>
            <a class="de-toc-1">Modules</a>
            <ul>
              {{#each modules as |module|}}
                <li>
                  {{#link-to "projects.modules" module.project.id module.name class="de-toc-2"}}
                    {{module.name}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}

        <!--
        {{#if namespaces.length}}
          <li>
            <a class="de-toc-1">Namespaces</a>
            <ul>
              {{#each namespaces as |namespace|}}
                <li>
                  <a class="de-toc-2">
                  {{!#link-to "classes" class.name class="de-toc-2"}}
                    {{namespace.name}}
                  {{!/link-to}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        -->

        {{#if classes.length}}
          <li>
            <a class="de-toc-1">Classes</a>
            <ul>
              {{#each classes as |class|}}
                <li>
                  {{#link-to "projects.modules.classes" class.project.id class.module.name class.name class="de-toc-2"}}
                    {{class.name}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="de-content">
    {{outlet}}
  </main>
</div>
